// Wrapper container
.container {
    padding: 2.6rem;
    position: relative;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 0;
    }
}

/// Header Section
.header {
    height: 100vh;
    position: relative;
    scroll-snap-align: start;

    &Logo {
        width: 32rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
        
        & img {
            width: 100%;
        }
    }

    &Name {
        font-size: 12.2rem;
        color: var(--color-mate-black);
        font-family: var(--font-display);
        line-height: 16rem;
        margin: 4rem 0;

        & .lastname {
            position: relative;
            // z-index: 2;

            &.red {
                @extend .lastname;
                color: var(--color-red);
            }

            &.green {
                @extend .lastname;
                color: var(--color-green);
            }

            &.blue {
                @extend .lastname;
                color: var(--color-blue);
            }

            &.yellow {
                @extend .lastname;
                color: var(--color-yellow);
            }

            &.black {
                @extend .lastname;
                color: var(--color-mate-black);
            }

            &.purple {
                @extend .lastname;
                color: var(--color-purple);
            }

            // NEW COLORS APPEND HERE 👇
        }
    }

    &Roles {
        display: flex;
        gap: 1rem;
    }

    &Marker {
        position: absolute;
        inset: auto 0 6rem auto;
        width: max-content;
        height: max-content;
        z-index: 5;
    }

    &Imag {
        position: fixed;
        inset: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    
        & img {
            height: 100%;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 820px) {
    .headerImag {
        position: absolute;
        display: flex;
        align-items: end;
        z-index: 4;

        & img {
            height: 60%;
        }
    }

    .headerMarker {
        position: absolute;
        inset: 25% 0 auto auto;
        width: max-content;
        height: max-content;
        z-index: 5;
    }
}

@media only screen and (max-width: 480px) {
    .headerLogo {
        width: 60%;
        padding: 2rem;
        margin-bottom: 0;
    }

    .headerName {
        font-size: 6.2rem;
        line-height: 7rem;
        padding: 0 2rem;
        margin: 0;
    }

    .headerMarker {
        display: none;
    }

    .headerRoles {
        padding: 2rem;
        overflow-x: auto;
        flex-wrap: wrap;
    }
}

/// Info Section
.info {
    padding: 8rem;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
}

.infoSection {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.infoText {
    font-size: 2rem;
    font-family: var(--font-main);
    color: var(--color-mate-black);
    line-height: 2.8rem;
}

.infoTextUsername {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--font-mono);
    padding: .2rem .8rem;
    color: var(--color-white);
    border-radius: 2rem;
    margin-right: .5rem;
    
    &.red {
        @extend .infoTextUsername;
        background-color: var(--color-red);
    }

    &.green {
        @extend .infoTextUsername;
        background-color: var(--color-green);
    }

    &.blue {
        @extend .infoTextUsername;
        background-color: var(--color-blue);
    }

    &.yellow {
        @extend .infoTextUsername;
        background-color: var(--color-yellow);
    }

    &.black {
        @extend .infoTextUsername;
        background-color: var(--color-mate-black);
    }

    &.purple {
        @extend .infoTextUsername;
        background-color: var(--color-purple);
    }

    // NEW COLORS APPEND HERE 👇
}

@media only screen and (max-width: 820px) {
    .info {
        height: fit-content;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2rem);
        z-index: 6;
    }

    .infoSection {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .info {
        padding: 6rem 2rem;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

.quote {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 34rem;
    padding: 1.4rem;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    box-shadow: .5rem .5rem 0 rgba(0, 0, 0, 1);
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font-main);
    transition: .3s;

    &:hover {
        box-shadow: 0 0 .5rem .2rem rgba(0, 0, 0, .3);
    }

    &::before {
        content: '“';
        position: absolute;
        top: -1.8rem;
        left: -1.4rem;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5.4rem;
        font-weight: 900;
    }
}

@media only screen and (max-width: 820px) {
    .quote {
        bottom: calc(100% + 2rem);
        right: 0;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .quote {
        margin: 0 2rem;
        box-sizing: border-box;
    }
}

.infoProps {
    display: flex;
    padding: 2rem 0;
    gap: 1rem;
}

.contacts {
    display: flex;
    overflow: hidden;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2rem);
    opacity: .8;
}

@media only screen and (max-width: 480px) {
    .contacts {
        width: 100%;
    }
}

.contactItem {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: var(--color-mate-black);
    font-size: 1.8rem;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: var(--color-white);
        border-radius: 2rem;
    }
}

/// Skills Section
.skills {
    padding: 8rem;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    scroll-snap-align: start;
}

.skillsTitle {
    font-size: 3.4rem;
    font-weight: 600;
    font-family: var(--font-main);
    color: var(--color-mate-black);
    margin-bottom: 2.6rem;
}

.skillsSection {
    width: 50%;
    height: 100%;
    display: grid;
    gap: 1.8rem;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 1024px) {
    .skillsSection {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 820px) {
    .skills {
        width: 100%;
        min-height: fit-content;
    }

    .skillsSection {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px) {
    .skills {
        padding: 4rem 2rem;
        min-height: 70vh;
    }

    .skillsSection {
        grid-template-columns: repeat(1, 1fr);
    }
}

.skill {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1.4rem;
    color: var(--color-mate-black);
    font-family: var(--font-main);
    transition: .3s;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2rem);
    opacity: .8;

    &:hover {
        background-color: var(--color-white);
    }

    &Percent {
        font-size: 4.8rem;
        font-weight: 800;
        
        &.red {
            @extend .skillPercent;
            color: var(--color-red);
        }

        &.green {
            @extend .skillPercent;
            color: var(--color-green);
        }

        &.blue {
            @extend .skillPercent;
            color: var(--color-blue);
        }

        &.yellow {
            @extend .skillPercent;
            color: var(--color-yellow);
        }

        &.black {
            @extend .skillPercent;
            color: var(--color-mate-black);
        }

        &.purple {
            @extend .skillPercent;
            color: var(--color-purple);
        }

        // NEW COLORS APPEND HERE 👇
    }

    &Name {
        font-size: 2.4rem;
    }

    &Description {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        // white-space: nowrap;
    }
}

/// Projects Section

.projects {
    padding: 2.6rem;

    &Heading {
        font-size: 3.6rem;
        font-weight: 600;
        font-family: var(--font-main);
        color: var(--color-mate-black);
        margin-bottom: 2.6rem;
    }

    &Grid {
        display: grid;
        gap: 2.6rem;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .projectsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 820px) {
    .projectsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px) {
    .projectsGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.project {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 2rem;
    border: .5px solid rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    transition: .3s;

    &:hover {
        box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
        transform: translateY(-.5rem);
    }

    &:hover .projectContent.animation {
        transform: translateY(-100%);
    }
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.projectContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2rem);
    transition: .3s;
}

.projectName {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: var(--font-main);
    color: var(--color-mate-black);
    padding: 1rem 1.4rem .5rem;
}

.projectDescription {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--font-main);
    color: var(--color-mate-black);
    padding: 0 1.4rem;
}

.projectRoles,
.projectTechnologies {
    display: flex;
    padding: 1rem 0 1rem 1.4rem;
    overflow-x: scroll;
}

.projectRole,
.projectTechnology {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--font-main);
    color: var(--color-mate-black);
    padding: .6rem 1.4rem;
    border-radius: .5rem;
    margin-right: .5rem;
    background-color: var(--color-light-gray);
    transition: .3s;

    &:hover {
        box-shadow: 0 .2rem .6rem 0 rgba(0, 0, 0, .4);
    }
}

.projectDate {
    display: flex;
    align-items: center;
    padding: 1rem 1.4rem;
    font-size: 1.8rem;
}

.projectStartDate,
.projectEndDate {
    flex: 1;
    text-align: center;
    font-weight: 600;
}

/// Footer Section
.footer {
    padding: 5.2rem;
    border-top: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;

    &Links {
        display: flex;
        gap: 1rem;
    }

    &Brand {
        flex: 1,
    }

    &Logo {
        width: 24rem;
        padding: 0 1rem;
        box-sizing: content-box;
        margin-bottom: .5rem;

        & img {
            width: 100%;
        }
    }

    &Heading {
        font-size: 3.2rem;
        font-family: var(--font-display);
        color: var(--color-mate-black);
        font-weight: 600;
        margin-left: 1rem;
    }

    &Description {
        font-size: 1.8rem;
        font-family: var(--font-main);
        color: var(--color-mate-black);
        font-weight: 500;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 820px) {
    .footer {
        flex-direction: column;
        gap: 2rem;
        padding: 5.2rem 2rem;
    }
}

.footerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2.4rem;
    font-family: var(--font-main);
    color: var(--color-mate-black);
    font-weight: 500;
    border-radius: 100%;
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: var(--color-white);
        background-color: var(--color-mate-black);
    }
}