.text {
    margin: 0 2.3rem;
}

.input {
    margin: 0 2.3rem;
    display: flex;
    flex-direction: column;
}

.notice {
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

.error {
    color: red;
    font-size: 1.4rem;
    margin-top: 1.5rem;
}