.marker {
    width: 24rem;
    height: 24rem;
    cursor: pointer;
}

.markerContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: rotation 30s infinite linear;
}

.marker:hover .markerContainer {
    animation-play-state: paused;
}

.markerContainer .text {
    font-family: var(--font-main);
    font-size: .88rem;
    font-weight: 600;
}

.markerContainer .textPath {
    fill: var(--color-mate-black);

    &.red {
        fill: var(--color-red);
    }

    &.green {
        fill: var(--color-green);
    }

    &.blue {
        fill: var(--color-blue);
    }

    &.yellow {
        fill: var(--color-yellow);
    }
}

.logo {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img {
    width: 40%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}