* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --font-display: "Reem Kufi", sans-serif;
  --font-main: "Raleway", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  /* Colors */
  --color-blue: #4285f4;
  --color-green: #34a853;
  --color-yellow: #fbbc05;
  --color-red: #ea4335;
  --color-black: #000000;
  --color-purple: #8d61ff;
  --color-white: #ffffff;
  --color-mate-black: #212121;
  --color-light-gray: #f5f5f5;
  --color-gray: #757575;
}

html {
  font-size: 10px;
  font-family: var(--font-main);
  scroll-snap-type: y proximity;
}

.signature {
  font-family: var(--font-mono);
  font-size: 1.2rem;
  color: var(--color-light-gray);
  position: absolute;
  inset: auto auto 1rem 1rem;
  user-select: none;
}
